body {
    background-color: #ECECEC;
}
/*общий контейнер*/
.storePrices {
    width: 312px;
    padding: 24px;
    font-size: 18px;
    font-family: sans-serif;
}
/*контейнер слайдера*/
.ui-slider {
    position: relative;
}
/*ползунок*/
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    cursor: -webkit-grab;
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.25);
    top: -5px;
    margin-left: -6px;
}
/*полоса, которая показывает цену*/
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background: #000;
}
/*сама полоса по которой бегает ползунок*/
.ui-slider-horizontal {
    height: 4px;
    background: #d1d1d1;
    border-radius: 2px;
    margin-bottom: 20px;
}
/*инпут с ценами*/
.inputPrice {
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    font-family: sans-serif;
    width: 45%;
    height: 50px;
    padding: 3%;
}
.dah {
    height: 2px;
    background: #d1d1d1;
    width: 16px;
    margin: 4px 0;
    display: inline-block;
}
p {
    padding: 10px 0;
}

